@page "/categoria"
@using TaskPlanner.Client.Services
@using TaskPlanner.Client.Models
@inject TaskService Service

<h3>Categorías</h3>

<div class="row mb-3">
	<div class=" col-md-6">
		<EditForm Model=@nuevaCategoria OnValidSubmit=@CrearCategoria>
			<div class="form-group">
				<InputText class="form-control" @bind-Value="nuevaCategoria.Nombre" placeholder="Escribe aquí..."></InputText>
				<button type="submit" class="btn btn-success">Guardar</button>
			</div>
			
		</EditForm>
	</div>
</div>

@if(categorias == null)
{
	<p><em>Loading...</em></p>
}
else
{
	<table class=" table table-striped table-hover">
		<thead>
			<tr>
				<td>Nombre</td>
				<td>Color</td>
			</tr>
		</thead>
		<tbody>
			@foreach(var categoria in categorias)
			{
				<tr>
					<td>@categoria.Nombre</td>					
				</tr>
			}	
		</tbody>
	</table>
}

@code {
	private List<Categoria>? categorias;

	protected override async Task OnInitializedAsync()
	{
		categorias = await Service.GetCategorias();
	}

	private Categoria nuevaCategoria = new Categoria();

	private async Task CrearCategoria()
	{
		await Service.SaveCategorias(nuevaCategoria);

		nuevaCategoria = new Categoria();

		categorias = await Service.GetCategorias();
	}

}